---
import SiteData from "../constants/siteData.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  seo={{
    title: SiteData.pages.about.title,
    description: SiteData.pages.about.description
  }}
>
  <h1 class="p-10 text-3xl">Hi :)</h1>
</Layout>
