---
import SiteData from "../constants/siteData.json";
import Layout from "../layouts/Layout.astro";
---

<Layout
  seo={{
    title: SiteData.pages.contact.title
  }}
>
  <h1 class="p-10 text-3xl">Contact me ;)</h1>
</Layout>
