---
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <SEO
    title="Descriptive Title."
    description="Optimized description full of well-researched keywords."
    openGraph={{
      basic: {
        title: "Descriptive Title.",
        type: "A type.", // check https://ogp.me/#types
        url: "",
        image: ""
      },
      optional: {
        description:
          "Optimized description full of well-researched keywords."
      }
    }}
    twitter={{
      card: "summary_large_image", // Must be one of “summary”, “summary_large_image”, “app”, or “player”.
      title: "Descriptive Title.",
      description:
        "Optimized description full of well-researched keywords.",
      creator: "@...",
      site: "@...",
      image: "",
      imageAlt: ""
    }}
  />
  </head>
  <body>
    <slot />
  </body>
</html>
